<template>
  <header>
    <h1>Insight Box</h1>
    <ul>
      <li
        :class="{selected : boxSelected == box}"
        v-for="box in boxes"
        :key="box._id"
        @click="selectBox(box)"
      >{{ box.name }}</li>
    </ul>
  </header>
</template>

<script>
export default {
  props: ["boxes"],
  data() {
    return {
      boxSelected: null
    };
  },
  methods: {
    selectBox(box) {
      this.$emit("boxSelected", box);
      this.boxSelected = box;
    }
  }
};
</script>

<style scoped>
header {
  text-align: center;
  background-color: var(--color1-darker);
}

h1 {
  display: inline-block;
  background-color: var(--color2);
  color: var(--color3);
  border-radius: 0 0 0.3rem 0.3rem;
  margin: 0;
  padding: 0.3rem 1.5rem;
  font-weight: normal;
}

ul {
  display: flex;
  list-style: none;
}

li {
  cursor: pointer;
  margin: 0 -0.1rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid black;
  border-bottom: none;
  background-color: var(--color1-darker);
}

li.selected {
  background-color: var(--color1);
}
</style>