<template>
  <article>
    <header>
      <slot name="title"></slot>
    </header>
    <div>
      <slot name="description"></slot>
    </div>
  </article>
</template>

<script>
export default {
  props: ["insight"]
};
</script>

<style scoped>
article {
  background-color: var(--color1-lighter);
  color: var(--color3);
  margin: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1rem rgb(30, 30, 30);
  overflow: hidden;
  max-width: 20rem;
}

header,
div {
  padding: 1rem 1.5rem;
}

header {
  background-color: var(--color2);
  font-size: 1.2rem;
  border-bottom: 1px solid #b92b37;
}

div {
  white-space: pre-wrap;
  text-align: left;
}
/* 
article input,
article textarea {
  background: transparent;
  border: none;
  color: var(--color3);
  display: block;
  width: 100%;
  resize: vertical;
  overflow: auto;
}

article button[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0px;
  background: var(--color5);
  border: none;
  color: var(--color3);
  padding: 0.5rem;
  border-radius: 0.3rem 0 0 0;
} */
</style>