<template>
  <main>
    <Insight v-for="insight in box.insights" :key="insight._id" :insight="insight">
      <template #title>{{ insight.title }}</template>
      <template #description>{{ insight.description }}</template>
    </Insight>
    <form>
      <Insight>
        <template #title>
          <input placeholder="Saisissez un titre" id="insightTitle" type="text" name="title" />
        </template>
        <template #description>
          <textarea
            placeholder="Saisissez une description"
            id="insightDescription"
            type="text"
            name="description"
            @input="resizeTextArea"
          ></textarea>
        </template>
      </Insight>
    </form>
  </main>
</template>

<script>
import Insight from "./Insight";

export default {
  props: ["box"],
  components: {
    Insight
  },
  methods: {
    resizeTextArea(e) {
      const textArea = e.target;
      textArea.style.height = "";
      textArea.style.height = textArea.scrollHeight + "px";
    }
  }
};
</script>

<style scoped>
main {
  display: flex;
  flex-wrap: wrap;
}

input,
textarea {
  background: transparent;
  border: none;
  color: var(--color3);
  display: block;
  width: 100%;
  resize: none;
  overflow: auto;
}

button[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0px;
  background: var(--color5);
  border: none;
  color: var(--color3);
  padding: 0.5rem;
  border-radius: 0.3rem 0 0 0;
}
</style>