<template>
  <div id="app">
    <Header :boxes="boxes" @boxSelected="selectBox"></Header>
    <Main v-if="selectedBox" :box="selectedBox"></Main>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Main from "./components/Main.vue";

export default {
  name: "App",
  data() {
    return {
      boxes: [
        {
          _id: 1,
          name: "Première boîte",
          insights: [
            {
              _id: 1,
              title: "Premier insight de la première boîte",
              description: "Description du premier insight de la première boîte"
            },
            {
              _id: 2,
              title: "Deuxième insight de la première boîte",
              description:
                "Description du deuxième insight de la première boîte"
            }
          ]
        },
        {
          _id: 2,
          name: "Deuxième boîte",
          insights: [
            {
              _id: 3,
              title: "Premier insight de la deuxième boîte",
              description: "Description du premier insight de la deuxième boîte"
            },
            {
              _id: 4,
              title: "Deuxième insight de la deuxième boîte",
              description:
                "Description du deuxième insight de la deuxième boîte"
            },
            {
              _id: 5,
              title: "Troisième insight de la deuxième boîte",
              description:
                "Description du troisième insight de la deuxième boîte"
            }
          ]
        }
      ],
      selectedBox: null
    };
  },
  methods: {
    selectBox(box) {
      this.selectedBox = box;
    }
  },
  components: {
    Header,
    Main
  }
};
</script>

<style>
:root {
  --color1: rgb(0, 53, 41);
  --color1-darker: rgb(0, 41, 32);
  --color1-lighter: rgb(0, 121, 94);
  --color2: #e63946;
  --color3: #f1faee;
  --color4: #a8dadc;
  --color5: #457b9d;
}

body {
  margin: 0;
  color: white;
  background-color: var(--color1);
}

#app {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
</style>
